html {
	background-color: #1D1D1D;
}

h1.major, h2.major, h3.major {
	text-align: center;
	color: white;
	font-family: helvetica;
}

nav {
    text-align: center;
  }

.nav {
  height: 50px;
  box-shadow: inset 0px 1px 17px 0px #DD6B20;
  background: linear-gradient(to bottom, #DD6B20 5%, #CB5609 100%);
  background-color: #DD6B20;
  border-radius: 5px;
  border: 1px solid #CB5609;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: helvetica;
  font-size: 15px;
  font-weight: bold;
  padding: 17px 76px;
  text-decoration: none;
}

.nav:hover {
  background: linear-gradient(to bottom, orangered 5%, #DD6B20 100%);
  background-color: #DD6B20;
  border: 1px solid orangered;
}
  
.nav:active {
  position: relative;
  top: 1px;
}

.back-button {
  height: 20px;
  width: 35px;
  margin-left: 30%;
  background: linear-gradient(to bottom, #DD6B20 5%, #CB5609 100%);
  background-color: #DD6B20;
  border-radius: 4px;
  border: 1px solid #CB5609;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: helvetica;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}

.back-button:hover {
  background: linear-gradient(to bottom, orangered 5%, #DD6B20 100%);
  background-color: #DD6B20;
  border: 1px solid orangered;
}

p {
  color: white;
  font-family: helvetica;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
}

.list {;
  font-family: helvetica;
  font-variant: small-caps;
  color: white;
  text-align: center;
}

img {
  text-align: center;
}

code {
  background-color: black;
  padding: 4px;
  border-radius: 5px;
}

#RockSolid1106 {
  width: 10%;
  margin-left: 30%;
}


#RockSolid1106 a {
  font-family: helvetica;
  font-variant: small-caps;
  color: white;
  text-decoration: none;
}

#RockSolid1106 a:hover {
  color: #CB5609;
  text-decoration: underline;
}

/* Hyperlink rules */

a {
  color: #CB5609;
  font-weight: bold;
}

a:hover {
  color: orangered;
  cursor: pointer;
}

a:active {
  position: relative;
  top: 3px;
}